.DS_Store

sample/advanced/SDKSample-Swift.xcodeproj/project.xcworkspace/xcuserdata/
sample/advanced/SDKSample-Swift.xcodeproj/project.xcworkspace/xcshareddata/
sample/advanced/SDKSample-Swift.xcodeproj/xcuserdata/


sample/simple/SDKSimple-Objective-C/SDKSimple-Objective-C.xcodeproj/project.xcworkspace/xcuserdata/
sample/simple/SDKSimple-Objective-C/SDKSimple-Objective-C.xcodeproj/project.xcworkspace/xcshareddata/
sample/simple/SDKSimple-Objective-C/SDKSimple-Objective-C.xcodeproj/xcuserdata/


sample/simple/SDKSimple-Swift/SDKSimple-Swift.xcodeproj/project.xcworkspace/xcuserdata/
sample/simple/SDKSimple-Swift/SDKSimple-Swift.xcodeproj/project.xcworkspace/xcshareddata/
sample/simple/SDKSimple-Swift/SDKSimple-Swift.xcodeproj/xcuserdata/
