.DS_Store

sample/advanced/SDKSample-Swift.xcodeproj/project.xcworkspace/xcuserdata/
sample/advanced/SDKSample-Swift.xcodeproj/project.xcworkspace/xcshareddata/
sample/advanced/SDKSample-Swift.xcodeproj/xcuserdata/
sample/advanced/SDKSample-Swift.xcodeproj/xcshareddata/